{% extends "base.html" %} {% block title %}درباره سامانه{% end %} {% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div dir="rtl">
            <h1>
                <a id="user-content-سامانه-اجاره-محصولات-چند-رسانه-ای" class="anchor" href="#سامانه-اجاره-محصولات-چند-رسانه-ای"
                    aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>سامانه اجاره محصولات چند رسانه ای</h1>
            <p>این سیستم برای مدیریت یک واحد تجاری اجاره محصولات چند رسانه ای به صورت مبتنی بر وب پیاده سازی شده است. طرز کار
                به این صورت است که فقط کاربر عضو سامانه که همان کارمند فروشگاه است می تواند پس از لاگین از آن استفاده کند
                و مشتریان درخواست های خود را به کارمند ارائه می کنند و کارمند درخواستشان را در سامانه اجرا می کند.</p>
            <h2>
                <a id="user-content-قابلیت-های-سامانه" class="anchor" href="#قابلیت-های-سامانه" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>قابلیت های سامانه</h2>
            <h3>
                <a id="user-content-لاگینورود-به-سامانه" class="anchor" href="#لاگینورود-به-سامانه" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>لاگین(ورود به سامانه)</h3>
            <p>کاربر برای استفاده از قابلیت های سامانه باید لاگین و Aithentication انجام دهد، به این منظور نام کاربری و کلمه
                عبور خود را وارد کرده و در صورت صحیح بودن وارد سامانه می‌شود. قسمتی برای افزودن کاربر وجود ندارد و این کار
                را باید مدیر DataBase به صورت دستی انجام دهد و نام و نام کاربری و کلمه عبور کاربر را در DataBase دخیره کند.</p>
            <h3>
                <a id="user-content-ثبت-مشتری-در-سامانه" class="anchor" href="#ثبت-مشتری-در-سامانه" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>ثبت مشتری در سامانه</h3>
            <p>مشتری، نام، آدرس و شماره تلفن خود را به کاربر می دهد - کاربر آن را در قسمت افزودن مشتری وارد می کند و کلید ثبت
                را فشار می دهد - سامانه یک کارت صادر می کند که حاوی یک شماره شناسه یکتا با عنوان شماره مشتری است.</p>
            <h3>
                <a id="user-content-مشخص-کردن-مدت-دوره-اجاره-هزینه-هر-دوره-و-جریمه-دیرکرد-به-ازای-هر-دوره-دیرکرد" class="anchor"
                    href="#مشخص-کردن-مدت-دوره-اجاره-هزینه-هر-دوره-و-جریمه-دیرکرد-به-ازای-هر-دوره-دیرکرد" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>مشخص کردن مدت دوره اجاره، هزینه هر دوره و جریمه دیرکرد به ازای هر دوره دیرکرد</h3>
            <p>مدیر سامانه وارد بخش تنظیمات سامانه می شود – برای فیلم و بازی 4 فیلد وجود دارد که باید آن ها را تکمیل کند، فیلد
                اول طول مدت زمان کرایه، فیلد دوم هزینه کرایه در مدت زمان مشخص شده، فیلد سوم هزینه جریمه هر دوره تاخیر و فیلد
                چهارم طول دوره ای که مشمول یک واحد جریمه می شود – پس از تکمیل فرم دکمه بروز رسانی را فشار می دهد و نتظیمات
                به روز می شود.</p>
            <h3>
                <a id="user-content-اجاره-دادن-فیلم-یا-بازی" class="anchor" href="#اجاره-دادن-فیلم-یا-بازی" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>اجاره دادن فیلم یا بازی</h3>
            <p>مشتری DVD (هایی) که می خواهد اجاره کند را از قفسه های فروشگاه انتخاب می کند – DVD (ها) را به همراه کارت عضویت
                به کارمند ارائه می دهد – در بخش اجاره فیلم وبازی، 2 فیلد وجود دارد، یکی قسمت شماره عضویت مشتری و دوم شماره
                شناسه فیلم یا بازی (های) انتخاب شده، کارمند شماره عضویت مشتری و شماره شناسه فیلم ها یا بازی ها را (در صورتی
                که بیش از یک فیلم یا بازی باشد، شماره شناسه ها را با کاما از هم جدا می کند) وارد می کند – کارمند دکمه ثبت
                اجاره را فشار می دهد و در صورت موفقیت آمیز بودن پیام مناسب به همراه هزینه اجاره فیلم ها یا بازی های انتخابی
                به علاوه بدهی قبلی بابت دیرکرد احتمالی نمایش داده می شود و در صورت موفقیت آمیز نبودن، علت خطا نوشته خواهد
                شد.</p>
            <h3>
                <a id="user-content-ثبت-بازگشت-فیلم-یا-بازیهای-اجاره-شده" class="anchor" href="#ثبت-بازگشت-فیلم-یا-بازیهای-اجاره-شده"
                    aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>ثبت بازگشت فیلم یا بازی(های) اجاره شده</h3>
            <p>کارمند شماره شناسه دی وی دی ها و دیسک های دریافتی از راه های مختلف (دریافت به صورت حضوری، قرار داد در جعبه بازگشتی
                ها و یا قرار دادن در شکاف بازگشتی ها در صورت بسته بودن فروشگاه) را در یک فیلد وارد می کند و دکمه ثبت بازگشت
                را فشار می دهد (در صورت نیاز به وارد کردن چندین شماره شناسه، شماره شناسه ها با کاما از یکدیگر جدا می شوند).
                در صورت وجود نداشتن خطا پیغام تایید بازگشت نمایش داده می شود و در صورت وجود خطا، خطای رخ داده شده نمایش داده
                می شود.</p>
            <h3>
                <a id="user-content-وضعیت-یک-فیلم-یا-بازی" class="anchor" href="#وضعیت-یک-فیلم-یا-بازی" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>وضعیت یک فیلم یا بازی</h3>
            <p>کاربر وارد بخش وضعیت فیلم یا بازی می شود - در این بخش شناسه ی آن فیلم را وارد می کند و دکمه تایید را فشار می
                دهد.پس از آن عنوان فیلم یا بازی و وضعیت آن نمایش داده میشود که میتواند وضعیت در قفسه یا اجاره داده شده را
                داشته باشد - در صورتی که فیلم وضعیت اجاره داده شده را داشته باشد باید فرد اجاره گیرنده و تاریخ اجاره نیز
                نمایش داده شود.</p>
            <h3>
                <a id="user-content-افزودن-یک-عنوان-جدید-فیلم-یا-بازی" class="anchor" href="#افزودن-یک-عنوان-جدید-فیلم-یا-بازی"
                    aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>افزودن یک عنوان جدید فیلم یا بازی</h3>
            <p>کارمند اطلاعات مربوط به فیلم یا بازی مانند عنوان، نوع (فیلم یا بازی)، ژانر، سال تولید و تعداد موجود از آن در
                فروشگاه(به طور پیش فرض صفر است) برای اجاره را در سامانه ثبت می کند - سامانه برا آن فیلم یا بازی یک لیبل که
                شامل شناسه یکتا برای آن عنوان فیلم یا بازی است چاپ میکند و این لیبل بر روی فیلم قرار داده می شود.</p>
            <h3>
                <a id="user-content-پرس-و-جو-درباره-یک-عنوان-dvd-خاص" class="anchor" href="#پرس-و-جو-درباره-یک-عنوان-dvd-خاص"
                    aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>پرس و جو درباره یک عنوان DVD خاص</h3>
            <p>کارمند در بخش جست و جو شناسه یک عنوان فیلم (یا بازی) را وارد میکند و با فشار دادن کلید جست و جو اطلاعات کلی درباره
                آن عنوان فیلم و همچنین تعداد موجود برای اجاره دادن نمایش داده میشود.</p>
            <h3>
                <a id="user-content-اضافه-شدن-یا-حذف-یک-یا-چند-دیسک-برای-یک-عنوان" class="anchor" href="#اضافه-شدن-یا-حذف-یک-یا-چند-دیسک-برای-یک-عنوان"
                    aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>اضافه شدن یا حذف یک یا چند دیسک برای یک عنوان</h3>
            <p>کاربر به قسمت اضافه کردن دیسک می رود – شناسه ی عنوان DVD ای که قرار است دیسک ها به آن عنوان اضافه یا کم شود را
                وارد می کند و کلید تایید را فشار می دهد – سپس اطلاعات عمومی مربوط به عنوان DVD به همراه تعداد دیسک ها نمایش
                داده می شود – تعداد دیسک ها را اضافه یا کم می کند و سپس کلید به روز رسانی را فشار می دهد و تعداد دیسک ها
                به روز می شوند.</p>
            <h2>
                <a id="user-content-نصب-و-راه-اندازی" class="anchor" href="#نصب-و-راه-اندازی" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>نصب و راه اندازی</h2>
            <p>برای اجرای پروژه کافی است با دستور زیر بسته ی Tornado را نصب کنید.</p>
            <pre dir="ltr">pip install tornado</pre>
            <p>سپس فایل main.py را با مفسر پایتون 3.5 یا بالاتر با دستور زیر اجرا کنید.</p>
            <pre dir="ltr">python3 main.py</pre>
            <p>و در نهایت مرورگر خود را باز کرده و در URL زیر با سامانه کار کنید.</p>
            <pre dir="ltr">http://localhost:8888</pre>
            <h2>
                <a id="user-content-درباره-پروژه" class="anchor" href="#درباره-پروژه" aria-hidden="true">
                    <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                    </svg>
                </a>درباره پروژه</h2>
            <p>پروژه ی پیش رو یک پروژه مبتنی بر وب است که سمت سرور آن با زبان python و با کمک بسته <a href="http://tornadoweb.org">tornado</a>                نوشته شده است. پایگاه داده این پروژه SQLite3 می باشد. در سمت کاربر سعی شده آخرین استاندارد های HTML, CSS
                و JS مد نظر قرار بگیرد و به همین خاطر ممکن است با مرورگر های قدیمی سازگاری نداشته باشد.</p>
        </div>
    </div>
</div>

{% end %}