{% extends "base.html" %}

{% block title %}افزودن عنوان جدید{% end %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="POST">
            <fieldset>
                <legend>افزودن عنوان جدید</legend>
                عنوان محصول:<br />
                <input type="text" name="title" class="form-control" placeholder="عنوان محصول" required /><br /> ژانر:
                <br />
                <input type="text" name="genre" class="form-control" placeholder="ژانر" required /><br /> تعداد موجود:<br
                />
                <input type="text" name="number" class="form-control" placeholder="تعداد موجود(پیشفرض صفر)" /><br /> نوع
                محصول:<br />
                <select class="form-control" name="type">
                            <option value="film">فیلم</option>
                            <option value="game">بازی</option>
                        </select><br />
                <input class="form-control btn btn-success" type="submit" value="ثبت" />
            </fieldset>
        </form>
    </div>
</div>

{% end %}