<!doctype html>
<html lang="fa">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-rtl.min.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{% end %}</title>
</head>

<body style="background-image: url('{{ static_url('images/login-background.jpg') }}'); background-attachment: fixed;">
    {% include "nav-menu.html" %}
    <div class="container main-container">
        <!--End of header-->

        {% block content %}{% end %}

        <!--Start of footer-->
    </div>
</body>

</html>