<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">سامانه اجاره محصولات چند رسانه ای</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>صفحه اصلی</a></li>
                <li><a href="#about"><span class="glyphicon glyphicon-user"></span> کارکنان</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>خدمات مشتری <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="UI/Customer/add_customer.html">افزودن مشتری</a></li>
                        <li><a href="#">Admin 2</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Portfolio</li>
                        <li><a href="#">Portfolio 1</a></li>
                        <li><a href="#">Portfolio 2</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-cd"></span>محصولات</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-file"></span>درباره سامانه</a></li>
            </ul>
        </div>
    </div>
</nav>