<!doctype html>
<html lang="fa">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>ورود به سامانه</title>
</head>

<body style="background-image: url('images/login-background.jpg')">
    <div class="container">
        <div class="wrapper">
            <form action="index.html" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">خوش آمدید!</h3>
                <hr class="colorgraph"><br>

                <input type="text" class="form-control" name="Username" placeholder="نام کاربری" required="" autofocus="" />
                <input type="password" class="form-control" name="Password" placeholder="کلمه عبور" required="" />

                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">ورود</button>
            </form>
        </div>
    </div>
</body>

</html>