@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan.eot') format('eot'),
       url('../fonts/BYekan.woff') format('woff'),
       url('../fonts/BYekan.ttf') format('truetype');
}

@font-face {
  font-family: 'BTitrBold';
  src: url('../fonts/BTitrBold.eot') format('eot'),
       url('../fonts/BTitrBold.woff') format('woff'),
       url('../fonts/BTitrBold.ttf') format('truetype');
}

body{
    font-family: 'BYekan';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'BTitrBold';
}

/*Login Styles*/
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 320px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*End of login Styles*/


/*Main container*/
.main-container{
  background-color: rgba(240,240,240,0.6);
  padding: 10px;
  border-radius: 20px;
}